%header{
    background-color: $color-secundario;
    padding: 20px;
    border: 5px solid $color-terciario;
}

%li{
    list-style-type: none;
    font-size: 19px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}